<div class="row">
  <div class="small-12 small-centered columns">
    <h1 style="text-align: center;">Don't Feed The Meter</h1>
  </div>
</div>

<div class="row">
  <div align="center" class="small-12 small-centered columns">
    <%= image_tag "meter.jpg", alt: "Parking Meter" %>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <h3 style="text-align: center;">What would you like to do?</h3>
  </div>
</div>

<div class="row">
  <div align="center" class="small-6 columns">
    <%= link_to "Set Parking Location", "#", :class => "button", "data-no-turbolink" => true %>
  </div>
  <div align="center" class="small-6 columns">
    <%= link_to "Set Meter Maid Location", new_maid_path, :class => "button", "data-no-turbolink" => true %>
  </div>
</div>

<p>Lorem ipsum dolor sit amet, cosectetur adipiscing elit. Donec
a diam lectus. Set sit amet ipsum mauris. Maecenas congue ligula ac quam
viverra nec consectetur ante hendrerit.</p>
