<% content_for :head do %>
  <title>Set Meter Maid Location</title>
  <script tye="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAht8hS3qR_Vp9n9N-OdrLaqEffWlymOf0&sensor=false">
  </script>
<% end %>
<h1>Click where you see the meter maid</h1>
<div id="map-canvas"></div>
<%= form_for :maid, url: maids_path do |f| %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
