<% content_for :head do %>
  <title>Map View</title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAht8hS3qR_Vp9n9N-OdrLaqEffWlymOf0&sensor=false">
    </script>
<% end %>
<h1>Map View</h1>
<p>A wild map appeared!</p>
<div id="map-canvas"></div>
<p>So paragraphs display way over in left field. Gonna have to fix that, or 
maybe not.</p>
